* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: whitesmoke;
  background: #242424;
}
a {
  color: inherit;
  text-decoration: none;
}

.nfts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
img {
  width: 100%;
  height: auto;
  background-color: black;
}

li {
  list-style: none;
}
